body{
    text-align: center;
    display: grid;
    grid-template-areas: "head head"
                        "calcu pTabla"
                        "pImg pImg";
    font-size: 4vh;
}

/* Areas de grid */

header{
    grid-area: head;
}

#calcu{grid-area: calcu;}

#programaImg{grid-area: pImg;}

#programaTabla{grid-area: pTabla;}

article{
    background-color:aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2{
    background-color:darkblue;
    color: azure;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 5px;

}
input{
    height: 4vh;
    width: 6vh;
    font-size: large;
    border: none;
    border-bottom: 1vh solid black;
    border-radius: 2vh;
    text-align: center;
    font-weight: bold;
}

/* Se agrega seccion index */

nav ul{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: black;
}

li{
    margin: 1vh;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 1vh 14vh;
}

a:hover{
    background-color: rgb(55, 55, 55);
}